rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Users and nested subcollections
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // User preferences
    match /userPreferences/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Portfolios
    match /portfolios/{portfolioId} {
      allow read: if true; // Allow preview links to be viewed
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }
  }
}
